{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

    <body>

      <main class="site-main">
        <!--================Hero Banner start =================-->  
        <section class="mb-30px">
          
          <div class="hero-banner">
            <div class="hero-banner__content">
              <h3>Travel Blog</h3>
              <h1>Fond of Going</h1>
              <h4>Your go-to spot for real stories, travel budgets, and honest food reviews from around the world. Whether you're planning a trip or dreaming of one, we’ve got you covered.</h4>
            </div>
          </div>
          
        </section>
        <!--================Hero Banner end =================-->  

      </main>


          <!--================Categories Banner start =================-->  
        <section class="categories container overflow-hidden align-items-center">
          <div class="row g-3 g-lg-5">
            <div class="col-md-4 ">
              <div class="cat-item image-zoom-effect position-relative">
                <div class="image-holder">
                  <a href="#"><img src="/static/assets/img/continents/africa.jpeg" alt="categories" class="product-image img-fluid"></a>
                  <div class="category-content text-white  large-category position-absolute text-uppercase">
                    <h2 class="section-title  text-center text-white"><a href="#">AFRICA</a></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="cat-item image-zoom-effect position-relative">
                <div class="image-holder">
                  <a href="#"><img src="/static/assets/img/continents/asia.jpeg" alt="categories" class="product-image img-fluid"></a>
                  <div class="category-content large-category position-absolute text-uppercase">
                    <h2 class="section-title  text-center text-white"><a href="#">ASIA</a></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="cat-item image-zoom-effect position-relative">
                <div class="image-holder">
                  <a href="#"><img src="/static/assets/img/continents/europe.jpeg" alt="categories" class="product-image img-fluid"></a>
                  <div class="category-content large-category position-absolute text-uppercase">
                    <h2 class="section-title  text-center text-white"><a href="#">EUROPE</a></h2>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </section>

        <!--================Categories Banner end =================-->  


        <!--============== Body Start=================-->  

        <section id="blog" class="padding-medium">
          <div class="container">
            <div class="row g-md-5 mb-5">
      
              <main class="col-lg-8 me-3">
                <div class="card rounded-0 border-0 border-bottom mb-5">
                  <a href="single-post.html"><img src="images/body1.jpg" class="img-fluid" alt="image"></a>
                  <div class="card-body p-0 mb-1 text-center">
                    <div class="text-center  mt-2">
                      <p class="text-gray" style="letter-spacing:1px;"><b>Travel</b> / JAN 22</p>
                    </div>
      
                    <a href="single-post.html">
                      <h3 class="text-primary my-3 text-uppercase">how is traveling good for the soul?</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci morbi semper aliquam sit. Congue in odio
                      dui donec pharetra mauris ullamcorper duis sapien, lectus neque, amet.
                    </p>
      
                  </div><a class="button arrow text-center text-uppercase mb-5">Read More</a>
                </div>
                <div class="card rounded-0 border-0 border-bottom mb-5">
                  <a href="single-post.html"><img src="images/body2.jpg" class="img-fluid" alt="image"></a>
                  <div class="card-body p-0 mb-1 text-center">
                    <div class="text-center  mt-2">
                      <p class="text-gray" style="letter-spacing:1px;"><b>Travel</b> / JAN 22</p>
                    </div>
      
                    <a href="single-post.html">
                      <h3 class="text-primary my-3 text-uppercase">Travel is like a moving meditation</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci morbi semper aliquam sit. Congue in odio
                      dui donec pharetra mauris ullamcorper duis sapien, lectus neque, amet.
                    </p>
      
                  </div><a class="button arrow text-center text-uppercase mb-5">Read More</a>
                </div>
                <div class="card rounded-0 border-0 border-bottom mb-5">
                  <a href="single-post.html"><img src="images/body3.jpg" class="img-fluid" alt="image"></a>
                  <div class="card-body p-0 mb-1 text-center">
                    <div class="text-center  mt-2">
                      <p class="text-gray" style="letter-spacing:1px;"><b>Travel</b> / JAN 22</p>
                    </div>
      
                    <a href="single-post.html">
                      <h3 class="text-primary my-3 text-uppercase">travel is the beginning of refreshment</h3>
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci morbi semper aliquam sit. Congue in odio
                      dui donec pharetra mauris ullamcorper duis sapien, lectus neque, amet.
                    </p>
      
                  </div><a class="button arrow text-center text-uppercase mb-5">Read More</a>
                </div>
                <div class="card rounded-0 border-0 mb-5">
                  <a href="single-post.html"><img src="images/body4.jpg" class="img-fluid" alt="image"></a>
                  <div class="card-body p-0 mb-1 text-center">
                    <div class="text-center  mt-2">
                      <p class="text-gray" style="letter-spacing:1px;"><b>Travel</b> / JAN 22</p>
                    </div>
      
                    <a href="single-post.html">
                      <h3 class="text-primary my-3 text-uppercase">process of making perfect solo travel</h3>
                    </a>
                    <p>In fact, you can get your goods as soon as they are placed on your doorstep. Hence,
                      whenever you feel the need to make some alterations or modifications in order to fit
                      into your decor, no need to go to the market for it as everything can be done online.
                    </p>
      
                  </div><a class="button arrow text-center text-uppercase mb-5">Read More</a>
                </div>
      
                <nav aria-label="Page navigation example ">
                  <ul class="pagination justify-content-center mt-5">
                    <li class="page-item mx-md-2 "><a class="page-link" href="#"><svg class="me-1" width="22" height="22">
                          <use xlink:href="#arrow-left"></use>
                        </svg></a></li>
                    <li class="page-item mx-md-2 "><a class="page-link active" href="#"><b>1</b></a></li>
                    <li class="page-item mx-md-2 "><a class="page-link" href="#"><b>2</b></a></li>
                    <li class="page-item mx-md-2 "><a class="page-link" href="#"><b>3</b></a></li>
                    <li class="page-item mx-md-2 "><a class="page-link" href="#"><svg class="me-1" width="22" height="22">
                          <use xlink:href="#arrow-right"></use>
                        </svg></a></li>
                  </ul>
                </nav>
      
                  
              </main>
              {% include "side_bar.html" %}

            
          </div>
          
        </section>
    </body>
      <!--================ Body Start=================-->  


{% include "footer.html" %}
{% endblock %}