

            <aside class="col-lg-3 p-0 border-0 border-start border-end ">
                <!--================About Us Section Start =================--> 
            <div class="sidebar align-items-center text-center border-bottom px-3 ">
                <img src="/static/assets/img/people/about_us.png" alt="Avatar" class="background-position-center img-fluid background-repeat-norepeat round-img">
                <h5 class=" text-black fw-bold text-center text-uppercase pt-4">About us</h5>
                <p class="text-black lh-sm text-center secondary-heading fs-6 py-3">We’re a travel couple documenting the everyday moments that make our trip unforgettable—from what we eat to where we go, and what it all costs.</p>
                <!-- <img src="images/Lora-Chaffins.jpg" alt="lora" class="img-fluid pb-5"> -->
            </div>
                <!--================About Us Section end =================--> 

            <div class="widget-categories py-5 border-bottom">
                <h5 class=" text-black fw-bold text-center text-uppercase pb-4">Categories</h5>

                <ul class="categories sidebar-list list-unstyled">
                <li class="cat-item ">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary"> Beauty(7)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">Fashion(18)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">General(9)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">Lifestyle(2)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">Style(5)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">Closet(1)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">Trends(8)</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">Search(3)</a>
                </li>
                </ul>
            </div>

            <div class="widget-post py-5 border-bottom text-center align-items-center px-3">
                <h5 class=" text-black fw-bold text-center text-uppercase pb-2">Popular post</h5>
                <div class=" mb-2 align-items-center text-center">
                <a href="single-post.html"><img src="images/pp1.jpg" class="background-position-center img-fluid background-repeat-norepeat " alt="image"></a>
                <div class="card-body p-0 mb-1 mb-0 text-center">
                    <div class="text-center  mt-2">
                    <p class="text-gray" style="letter-spacing:1px; font-size: 14px;"><b>Travel</b> / JAN 22</p>
                    </div>
                    <a href="single-post.html">
                    <h5 class="text-primary my-3 text-uppercase">Top ten best religious places to travel</h5>
                    </a>
                </div>
                </div>

                <div class=" mb-2 align-items-center text-center">
                <a href="single-post.html"><img src="images/pp2.jpg" class="background-position-center img-fluid background-repeat-norepeat " alt="image"></a>
                <div class="card-body p-0 mb-1 mb-0 text-center">
                    <div class="text-center  mt-2">
                    <p class="text-gray" style="letter-spacing:1px; font-size: 14px;"><b>Travel</b> / JAN 22</p>
                    </div>
                    <a href="single-post.html">
                    <h5 class="text-primary my-3 text-uppercase">best Travel places for bird lovers</h5>
                    </a>
                </div>
                </div>

                <div class=" mb-2 align-items-center text-center">
                <a href="single-post.html"><img src="images/pp3.jpg" class="background-position-center img-fluid background-repeat-norepeat " alt="image"></a>
                <div class="card-body p-0 mb-1 mb-0 text-center">
                    <div class="text-center  mt-2">
                    <p class="text-gray" style="letter-spacing:1px; font-size: 14px;"><b>Travel</b> / JAN 22</p>
                    </div>
                    <a href="single-post.html">
                    <h5 class="text-primary my-3 text-uppercase">Things needed while travelling</h5>
                    </a>
                </div>
                </div>




            </div>

            <div class="widget-form py-5 border-bottom px-5 text-center">
                <h5 class=" text-black fw-bold text-center text-uppercase pb-4">Subscribe us</h5>

                <p>Receive news and updates by subscribing to newsletter.</p>
                <form class=" position-relative">
                <input type="text" class="form-control rounded-5 px-4 py-2 bg-transparent" placeholder="Your email address">
                <a href="#" class="position-absolute top-50 end-0 translate-middle-y bg-primary rounded-circle p-1 mx-1">
                    <svg class="text-white" width="25" height="25">
                    <use xlink:href="#send"></use>
                    </svg>
                </a>
                </form>
            </div>

            <div class="widget-archive py-5 border-bottom">
                <h5 class=" text-black fw-bold text-center text-uppercase pb-4">Archive</h5>

                <ul class="categories sidebar-list list-unstyled">
                <li class="cat-item ">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary"> March 2022</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">February 2022</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">April 2021</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">January 2021</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">December 2020</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">November 2020</a>
                </li>
                <li class="cat-item">
                    <a href="#" class="nav-link text-center fw-bold text-body-tertiary">October 2019</a>
                </li>

                </ul>
            </div>

            <div class="widget-gallery py-5 px-3">
                <h5 class=" text-black fw-bold text-center text-uppercase pb-4">Our Favourite Posts</h5>
                <div class="row g-1">
                <div class="col-4">
                    <a href="images/img1.jpg" title="Sola" class="image-link"><img src="images/img1.jpg" class="post-image img-fluid "></a>
                </div>
                <div class="col-4">
                    <a href="images/img2.jpg" title="Sola" class="image-link"><img src="images/img2.jpg" class="post-image img-fluid "></a>
                </div>
                <div class="col-4">
                    <a href="images/img3.jpg" title="Sola" class="image-link"><img src="images/img3.jpg" class="post-image img-fluid "></a>
                </div>
                <div class="col-4">
                    <a href="images/img4.jpg" title="Sola" class="image-link"><img src="images/img4.jpg" class="post-image img-fluid "></a>
                </div>
                <div class="col-4">
                    <a href="images/img5.jpg" title="Sola" class="image-link"><img src="images/img5.jpg" class="post-image img-fluid "></a>
                </div>
                <div class="col-4">
                    <a href="images/img6.jpg" title="Sola" class="image-link"><img src="images/img6.jpg" class="post-image img-fluid "></a>
                </div>
                </div>
            </div>
            </aside></div>